# vscode
.vscode/

# Mac
.DS_Store

# Python
__pycache__/

# Notebook
.ipynb_checkpoints/

# HARRISON data except for a few
HARRISON/

# Keras Model
model_development/model/*
!*.tflite

# local stuff
misc/
log/